@{ ViewData["Title"] = "Email Sent"; }
@section styles {
    <!-- Get Form CSS -->
    <link rel="stylesheet" href="~/assets/styles/form.css" />
}

<div class="center padding-32px">
    <h1>@ViewData["Title"]</h1>
    <p class="margin-bottom">Please check your email to reset your password.</p>

    <a asp-area="" asp-controller="Account" asp-action="Login" class="button margin-bottom transition-2s">Return to Login</a>
    <a asp-area="" asp-controller="Home" asp-action="Index"  class="button transition-2s">Return Home</a>
</div>