@{ ViewData["Title"] = "Signed out"; }
@section styles {
    <!-- Get Form CSS -->
    <link rel="stylesheet" href="~/assets/styles/form.css" />
}

<div class="center padding-32px">
    <h1>@ViewData["Title"]</h1>
    <p class="margin-bottom">You have successfully signed out.</p>

    <a asp-area="" asp-controller="Home" asp-action="Index" class="button transition-2s">Return Home</a>
</div>